@import "/src/styles/modals.module";
@import "/src/styles/buttons.module";
@import "/src/styles/inputs.module";


.container {
	@include modal-wrapper;
	.requestor-container {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3px;
		margin-bottom: 15px;

		.source-label {
			font-size: 20px;
			color: #999999;
		}

		.dropdown-box {
			@include input;
			font-size: 16px;
			width: 10rem;
			color: white;
			text-align: center;
			padding: 5px 10px;
			margin-top: 10px;
			color: #999999;
		}
		.dropdown-options {
			background-color: #494848;
			width: 10rem;
			padding: 4px 0;
			border-radius: 0 0 7px 7px;

			& >* {
				font-size: 16px;
				padding: 5px 10px;
				width: 95%;
				margin: auto;
				border-radius: 7px;
				text-align: left;
			

			}
		}


	}

	.source-items-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 60%;
		margin: auto;
		@media (max-width: 768px) {
			width: 100%;
		}

		.item-line {

			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin: 4px 0;
			.item-label {
				font-size: 14px;
				font-weight: 500;
			}
			.item-value {
				&.npub {
					color: #29abe2;
					text-decoration: underline;
					font-size: 12px;
				}
				&.input {
					input {
						@include input;
						font-size: 12px;
						padding: 4px 7px;
					}
				}
			}
		}
	}
	.debit-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 15px;

		.sats-amount {
			width: 140px;
			font-size: 36px;
			font-weight: bolder;
		}

		.input {
			@include input;
			font-size: 36px;
			color: white;
			text-align: center;
		}

		.sats-amount-input {

			width: 180px;
			font-weight: bolder;
			margin: 4px 0;
		}



		.orange-text {
			color: #ff7700;
			font-size: 16px;
		}

		.fiat {
			color: #999999;
			font-size: 12px;

		}


		.rule-options {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 7px;
			margin: 7px 0;

			&.disabled {
				opacity: 0.5;
				pointer-events: none;
			}

			span {
				font-size: 20px;
			}

			.num-intervals-input {
				@include input;
				width: 30px;
				height: 30px;

				font-size: 15px;
				text-align: center;
			}

			.dropdown-box {
				@include input;
				display: flex;
				text-align: center;
				justify-content: center;
				align-items: center;
				width: 8rem;
				height: 30px;
			}
		}

		.adjust-checkbox-container {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			padding-inline: 15px;
			margin: 12px 0;

			p {
				font-size: 11px;
				text-align: left;
				margin-left: 7px;
			}
		}

		
	}
	.buttons-container {
		display: flex;
		justify-content: center;
		gap: 5%;
		margin: auto;
		padding-top: 20px;
		button {
			@include rainbow-button;
		}
	}
	.checkbox-container {
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			font-size: 20px;
			margin-left: 5px;
			font-weight: 500;
		}
	}
	.faded-text {
		color: #8c8c8c;
	}
}