body.barcode-scanner-modal-active {
	visibility: hidden;
	--background: transparent;
	background: transparent;
}




ion-modal.desktop-scanner-modal {
	--width: fit-content !important;
	--height: fit-content !important;
}


ion-content.mobile-scanner-wrapper {
	visibility: visible;
}

ion-content.mobile-scanner-wrapper::part(background) {
	background: transparent;
}


.desktop-scanner-wrapper {
	position: relative;

}

.desktop-scanner-wrapper #reader {
	width: 40vw;
}

.scanner-fields {
	position: absolute;
	z-index: 99;
	height: 100%;
	width: 100%;
	inset: 0;
}



.scan-box {
	width: 60%;
	height: 40%;
	position: relative;
}




.corner {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 3px solid var(--ion-color-primary);
}

.top-left {
	top: 0;
	left: 0;
	border-right: none;
	border-bottom: none;
}

.top-right {
	top: 0;
	right: 0;
	border-left: none;
	border-bottom: none;
}

.bottom-left {
	bottom: 0;
	left: 0;
	border-right: none;
	border-top: none;
}

.bottom-right {
	bottom: 0;
	right: 0;
	border-left: none;
	border-top: none;
}