.Feat {
  position: relative;
  font-family: Montserrat;

  &_header {
    display: flex;
    justify-content: center;
  }

  &_Icon_Left {
    position: absolute;
    left: 0px;
    width: 24px;
    height: 24px;
  }

  &_user {
    font-size: 24px;
    display: flex;
    img {
      vertical-align: middle;
    }
  }

  &_user_name {
    margin-left: 10px;
  }

  &_Msg_Image {
    img {
      margin-top: 80px;
      width: 207px;
      height: 170px;
      border-radius: 5px;
      fill: #dadada;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    }
  }

  &_Msg_reciver {
    margin-top: 5px;
    display: flex;
    justify-content: start;
    align-items: end;
  }

  &_Msg_send {
    margin-top: 5px;
    display: flex;
    justify-content: end;
    align-items: end;
  }

  &_polygon_reciver {
    position: relative;
    left: 11px;
    bottom: -7px;
    z-index: -1;
  }

  &_polygon_send {
    position: relative;
    left: -10px;
    bottom: -7px;
    z-index: -1;
  }

  &_chat_reciver {
    line-height: 1.8;
    background-color: #29abe2;
    border-radius: 5px;
    width: 283px;
    background-size: cover;
    font-size: 14px;
    padding-left: 19px;
    padding-top: 4px;
    color: #ffffff;
  }

  &_chat_send {
    line-height: 1.8;
    background: #16191c;
    border: 1px solid #29abe2;
    border-radius: 5px;
    width: 283px;
    background-size: cover;
    font-size: 14px;
    padding-left: 19px;
    padding-top: 4px;
    color: #ffffff;
  }

  &_more_tools {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-left: -16px;
    margin-top: 5px;
    button {
      margin-left: 3px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      position: relative;
      box-sizing: border-box;
      font-size: 11px;
      font-family: Montserrat;
      font-weight: bold;
      $border: 1px;
      padding: 10px 10px;
      color: #8c8c8c;
      background: #16191c;
      background-clip: padding-box; /* !importanté */
      border: solid $border #8c8c8c; /* !importanté */
      border-radius: 25px;
    }
    div {
      margin-top: 6px;
      cursor: pointer;
    }
  }

  &_edit_message {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 345px;
    height: 53px;
    border-radius: 5px;
    border: 1px solid #29abe2;
    display: flex;
    div {
      margin-left: 9px;
      margin-top: 15px;
    }
  }

  &_defaultIcon {
    display: flex;
    position: relative;
    input {
      margin-left: 9px;
      margin-top: -10px;
      background: #16191c;
      width: 200px;
      text-decoration: none solid rgb(255, 255, 255);
      height: 40px;
      border-radius: 4px;
      background-size: cover;
      box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
      font-size: 12px;
      outline: none;
      text-align: start;
      border: 0px;
    }

    button {
      background-color: #16191c;
      div {
        margin-top: -15px;
      }
    }
  }

  &_sendIcon {
    display: flex;
    position: relative;
    input {
      margin-left: 9px;
      margin-top: -10px;
      background: #16191c;
      width: 200px;
      text-decoration: none solid rgb(255, 255, 255);
      height: 40px;
      border-radius: 4px;
      background-size: cover;
      box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
      font-size: 12px;
      outline: none;
      text-align: start;
      border: 0px;
    }

    button {
      background-color: #16191c;
      div {
        margin-top: -10px;
      }
    }
  }

  &_container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 460px;
  }

  &_inputFile {
    input {
      width: 24px;
      height: 24px;
      border: 1px solid #ffffff;
      position: absolute;
      top: 10px;
      opacity: 0;
    }
  }

  &_Msg_Image_send {
    margin-top: 5px;
    display: flex;
    justify-content: end;
    img {
      width: 207px;
      height: 170px;
      border-radius: 5px;
    }
  }

  &_selectImage{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    top: -24px;
    img{
      margin-left: 2px;
      margin-top: 2px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border: solid 1px #8c8c8c; /* !importanté */

    }
  }
}
