.Feat {
  position: relative;
  font-family: Montserrat;
  height: 75vh;
  width: 100%;
  max-width: 800px;
  margin: auto;

  &_ChatMessageHeader {
    display: flex;
    justify-content: center;
  }

  &_Icon_Left {
    position: absolute;
    left: 0px;
    width: 24px;
    height: 24px;
  }

  &_user {
    font-size: 24px;
    display: flex;
    img {
      vertical-align: middle;
    }
  }

  &_user_name {
    margin-left: 10px;
  }

  &_Msg_reciver {
    margin-top: 5px;
    display: flex;
    justify-content: start;
    align-items: end;
    animation-name: messageAnimation;
    animation-duration: .5s;
    position: relative;
  }

  &_Bot_Description {
    margin-top: 5px;
    display: flex;
    justify-content: start;
    align-items: end;
    animation-name: messageAnimation;
    animation-duration: .5s;
    position: relative;
    
    .Bot_text {
      line-height: 1.8;
      background-color: #29abe2;
      border-radius: 5px;
      width: 283px;
      background-size: cover;
      font-size: 14px;
      padding-left: 19px;
      padding-top: 4px;
      color: #ffffff;
    }
  }

  &_Msg_send {
    margin-top: 5px;
    display: flex;
    justify-content: end;
    align-items: end;
  }



  &_Bot_Actions {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: 10px;
    button {
      margin: 1px 1px;
      height: 30px;
      cursor: pointer;
      box-sizing: border-box;
      font-size: 10px;
      font-weight: bold;
      font-family: Montserrat;
      $border: 1px;
      color: #8c8c8c;
      background: #16191c;
      background-clip: padding-box; /* !importanté */
      border: solid $border #8c8c8c; /* !importanté */
      border-radius: 25px;
      padding: 1px 5px;
    }
    div {
      margin-top: 2px;
      cursor: pointer;
      width: 15px;
      height: 15px;
    }
  }

  &_ChatMessageInputContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 100%;
    height: 53px;
    border-radius: 5px;
    border: 1px solid #29abe2;
    display: flex;
    div {
      margin-left: 9px;
      margin-top: 15px;
    }
    button {
      margin-right: 10px;
    }
  }

  &_ChatMessageInputContainer_input {
    display: flex;
    position: relative;
    width: 95% !important;
    input {
      margin-left: 9px;
      margin-top: -10px;
      background: #16191c;
      width: 100%;
      text-decoration: none solid rgb(255, 255, 255);
      height: 40px;
      border-radius: 4px;
      background-size: cover;
      box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
      font-size: 12px;
      outline: none;
      text-align: start;
      border: 0px;
    }

    
  }

  &_ChatMessageInputContainer_ChangeField {
    display: flex;
    position: relative;
    button {
      background-color: #16191c;
      div {
        margin-top: -25px;
      }
    }
  }

  &_ChatMessageBody_Container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 92%;
    height: 92%;
    margin-top: 5%;
  }

  &_ChatMessageInputContainer_inputFile {
    input {
      width: 30px;
      height: 30px;
      border: 1px solid #ffffff;
      position: absolute;
      top: 5px;
      right: 50px;
      opacity: 0;
    }
  }

  &_Msg_Image_send {
    margin-top: 5px;
    display: flex;
    justify-content: end;
    img {
      width: 207px;
      height: 170px;
      border-radius: 5px;
      border: 1px solid #8c8c8c;
    }
  }

  &_ChatMessageInputContaier_ShowImage {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    top: -24px;
    img {
      position: absolute;
      top: -13px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border: solid 1px #8c8c8c; /* !importanté */
    }
  }

  &_ChatMessageBody{
    margin: auto;
    height: 75vh;
  }

  &_bot_btn{
    display: flex;
    width: 100%;
    button {
      margin: 1px 1px;
      height: 30px;
      cursor: pointer;
      box-sizing: border-box;
      font-size: 10px;
      font-weight: bold;
      font-family: Montserrat;
      $border: 1px;
      color: #8c8c8c;
      background: #16191c;
      background-clip: padding-box; /* !importanté */
      border: solid $border #8c8c8c; /* !importanté */
      border-radius: 25px;
      padding-right: 5px;
      padding-left: 5px;
    }
    div{
      margin-top: 2px;
    }
  }

  @keyframes messageAnimation {
    from {right: -20px; opacity: 0;}
    to {right: 0px; opacity: 1;}
  }

  // new

  .options {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    p {
      margin: 1px 1px;
      cursor: pointer;
      box-sizing: border-box;
      font-size: 10px;
      font-weight: bold;
      font-family: Montserrat;
      color: #8c8c8c;
      background: #16191c;
      background-clip: padding-box;
      border: solid 1px #8c8c8c;
      border-radius: 25px;
      padding: 4px 5px;
    }
  }

  .message_bot {
    margin-top: 5px;
    display: flex;
    justify-content: start;
    align-items: end;
    animation-name: messageAnimation;
    animation-duration: .5s;
    position: relative;

    .Bot_text {
      line-height: 1.8;
      background-color: #29abe2;
      border-radius: 5px;
      width: 283px;
      background-size: cover;
      font-size: 14px;
      padding-left: 19px;
      padding-top: 4px;
      color: #ffffff;
    }
    .polygon{
      position: relative;
      left: 11px;
      bottom: -7px;
      z-index: -1;
    }
  }

  .message_user {
    margin-top: 5px;
    display: flex;
    justify-content: end;
    align-items: end;
    .Bot_text {
      line-height: 1.8;
      background: #16191c;
      border: 1px solid #29abe2;
      border-radius: 5px;
      width: 283px;
      background-size: cover;
      font-size: 14px;
      padding-left: 19px;
      padding-top: 4px;
      color: #ffffff;
    }

    .polygon{
      position: relative;
      left: -10px;
      bottom: -7px;
      z-index: -1;
    }
  }
  
  &_Bot_Image {
    margin-left: 20px;
  }

}
