.ButtonCTA{
  @include buttonPrimary;
  padding: 6px 12px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: $contrast-color;
  color: white;
}
.added{
  color: black;
  border: 2px solid $contrast-color;
  background-color: transparent;
}