.value-text {
	color: var(--ion-text-color-step-300);
}

.value-text-long {
	display: block;
	color: var(--ion-text-color-step-300);
}

.edit-list {
	border-radius: 12px;
	margin-top: 1rem;
}

.edit-item-input {
	--padding-bottom: 0.7rem;
}
