.Auth{
    &_container {
      // background-image: linear-gradient(320deg, #151d24 31%, #16191c 60%);
      width: 100%;
      padding-inline: 5%;
      padding-bottom: 30px;
      transition-duration: 500ms;
      font-family: Montserrat;
      justify-content: center;
      position: fixed;
      left: 0;
      height: 100%;
    }
  
    &_header {
      display: inline-flex;
      align-items: center;
      width: 290px;
      margin: auto;
      aspect-ratio : 1 / 1;
      background-color: white;
      border: 1px solid #2693c1;
      border-radius: 10px;
      &_text{
        margin-block: 10px;
        text-align: center;
        color: white;
        font-size: 26px;
        font-family: Montserrat;
      }
  
      & svg {
        margin: auto;
      }
    }
    
    &_description {
        margin-top: 40px;
        &_header {
            color: #FF7700;
            font-size: 18px;
            line-height: inherit;
        }
        &_para {
            color: #a3a3a3;
            font-size: 18px;
            text-decoration: none solid rgb(163, 163, 163);
            margin-top: 20px;
        }

        &_note {
            font-size: 18px;
            color: #a3a3a3;
            text-decoration: none solid rgb(163, 163, 163);
            margin-top: 20px;
            display: inline-flex;
            & b {
                color: #FF7700;
            }
        }
    }

    &_service {
        margin-top: 20px;
        display: inline-flex;
        align-items: center;
        width: 100%;
        justify-content: end;
        &_title {
            color: #29abe2;
            font-size: 20px;
            margin-right: 10px;
        }
        &_box {
            background-color: white;
        }
    }
    
    &_serviceauth {
        margin-top: 30px;
        & header {
            font-family: Montserrat;
            font-size: 20px;
            color: #ffffff;
            text-decoration: none solid rgb(255, 255, 255);
            text-shadow: 0px 0px 2px rgba(0,0,0,1);
            font-weight: bold;
        }
        & input{
            height: 45px;
            margin-top: 5px;
            font-family: Montserrat;
            font-size: 15px;
            text-align: start;
            width: 100%;
            background-color: #16191cf7;
            color: #a3a3a3;
            box-shadow: rgb(0, 0, 0) 0px 0px 2px 0px;
            padding-block: 8px;
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid #2cb0e9;
            border-radius: 5px;
        }
    }

    &_auth_send {
        display: inline-flex;
        align-items: center;
        justify-content: end;
        margin-top: 6px;
        margin-left: auto;
        width: 100%;
  
      & button {
        width: 140px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        font-size: 22px;
        font-family: Montserrat;
        font-weight: bold;
        padding: 8px 15px;
        $border: 1px;
        color: #FFF;
        background: #16191c;
        background-clip: padding-box; /* !importanté */
        border: solid $border transparent; /* !importanté */
        border-radius: 5px;
      
        &:before {
          content: '';
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          z-index: -1;
          margin: -$border; /* !importanté */
          border-radius: 3px; /* !importanté */
          background: linear-gradient(150deg, #29ABE2, #B0B0B0);
        }
      }
    }

    &_download {
        display: block;
        text-align: center;
        width: 100%;
        &_button button{
            background-color: #151d24;
            border: 1px solid #268fbc;
            border-radius: 6px;
            color: white;
            font-size: 16px;
            padding: 14px;
            width: 220px;
            transition-duration: 400ms;
        }
    }

    &_import {
        color: #29abe2;
        font-size: 20px;
        width: 100%;
        text-align: center;
        text-decoration: underline;
    }

    &_border {
        border-top: 1px solid #999999;
        margin-block: 15px;
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }

    &_or {
        margin-top: -17px;
        width: 53px;
        font-size: 20px;
        color: #ffffff;
        background-color: #16191c;
        text-align: center;
    }

    &_modal {
        &_add_btn{
            margin-top: 10px;
            text-align: center;
            padding: 0;
            width: 100%;
        }
    
        &_add_btn button{
            margin: 10px;
            background-color: #151d24;
            border: 1px solid #268fbc;
            border-radius: 6px;
            color: white;
            font-size: 100%;
            padding-inline: 30px;
            padding-block: 10px;
            transition-duration: 400ms;
            margin-bottom: 30px;
        }
        &_header {
            font-size: 24px;
            color: white;
        }

        &_description {
            margin-top: 30px;
            font-size: 18px;
            color: white;
        }
    }
}