.Auth{
    &_container {
        max-width: 800px;
        transform: translate(-50%, 0);
        margin-left: 50%;
        width: 94%;
        padding-bottom: 30px;
        transition-duration: 500ms;
        font-family: Montserrat;
        justify-content: center;
        position: fixed;
        left: 0;
        height: 100%;
    }

    @media (min-width: 800px) {
        &_container {
            margin-top: 50px;
        }
      }
  
    &_header {
      display: inline-flex;
      align-items: center;
      width: 290px;
      margin: auto;
      aspect-ratio : 1 / 1;
      background-color: white;
      border: 1px solid #2693c1;
      border-radius: 10px;
      &_text{
        margin-block: 10px;
        text-align: center;
        color: white;
        font-size: 24px;
        font-family: Montserrat;
      }
  
      & svg {
        margin: auto;
      }
    }
    
    &_description {
        margin-block-start: 30px;

        &_header {
            color: #2693c1;
            font-size: 16px;
            line-height: inherit;
        }
        &_para {
            color: #a3a3a3;
            font-size: 16px;
            text-decoration: none solid rgb(163, 163, 163);
            margin-top: 20px;
            text-align: justify;
        }
    }

    &_loginWithEmail {
        margin-block-start: 30px;
        text-align: center;
        cursor: pointer;
        
        &>a {
            font-size: 24px;
            color: #2aabe1;
            text-decoration: underline solid rgb(42, 171, 225);
        }
    }

    &_sanctum-logo {
        margin-block: 20px;

        &>p {
            font-size: 12px;
            color: #ffffff;
            text-align: center;
        }

        &>div {
            display: flex;
            justify-content: center;
            margin-block-start: 3px;
            padding: 9px 5px;
            width: 116px;
            margin-left: calc(50% - 58px);
            border-radius: 10px;
            box-shadow: 0px 0px 2px rgba(153,153,153,1);

            &>img {
                width: 104px;
                height: 12px;
            }
        }
    }

    &_notRecommended {
        display: flex;
        gap: 5px;
        font-size: 16px;
        color: #ff7700;
        text-align: center;

        &>p {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &>div {
            height: 24px;
            width: 24px;
            transform-origin: left;
            transition-duration: 500ms;
        }
    }

    &_service {
        font-size: 16px;
        margin-top: 20px;
        display: inline-flex;
        align-items: center;
        width: 100%;
        justify-content: end;
        &_title {
            color: #a3a3a3;
            font-weight: bold;
            font-size: 18px;
            margin-right: 10px;
        }
        &_box {
            background-color: white;
        }
    }
    
    &_serviceauth {
        margin-top: 30px;
        & header {
            font-family: Montserrat;
            font-size: 20px;
            color: #ffffff;
            text-decoration: none solid rgb(255, 255, 255);
            text-shadow: 0px 0px 2px rgba(0,0,0,1);
            font-weight: bold;
        }
        & input{
            height: 45px;
            margin-top: 5px;
            font-family: Montserrat;
            font-size: 15px;
            text-align: start;
            width: 100%;
            background-color: #16191cf7;
            color: #a3a3a3;
            box-shadow: rgb(0, 0, 0) 0px 0px 2px 0px;
            padding-block: 8px;
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid #2cb0e9;
            border-radius: 5px;
        }
    }

    &_download {
        display: block;
        margin-block-start: 15px;
        transition-duration: 500ms;
        text-align: center;
        width: 100%;
        &_button button{
            background-color: #151d24;
            border: 1px solid #268fbc;
            border-radius: 6px;
            color: white;
            font-size: 16px;
            padding: 14px;
            width: 220px;
            transition-duration: 400ms;
        }

        &_note {
            font-size: 12px;
            display: inline-block;
            color: #a3a3a3;
            text-decoration: none solid rgb(163, 163, 163);
            margin-block-start: 10px;
        }
    }

    &_import {
        margin-block-start: 10px;
        color: #29abe2;
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    &_border {
        border-top: 1px solid #999999;
        margin-block: 20px;
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }

    &_or {
        margin-top: -17px;
        width: 53px;
        font-size: 20px;
        color: #ffffff;
        background-color: #16191c;
        text-align: center;
    }

    &_modal {
        &_add_btn{
            margin-top: 10px;
            text-align: center;
            padding: 0;
            width: 100%;
        }
    
        &_add_btn button{
            margin: 10px;
            background-color: #151d24;
            border: 1px solid #268fbc;
            border-radius: 6px;
            color: white;
            font-size: 100%;
            padding-inline: 30px;
            padding-block: 10px;
            transition-duration: 400ms;
            margin-bottom: 30px;
        }
        &_header {
            font-size: 24px;
            color: white;
        }

        &_description {
            margin-top: 30px;
            font-size: 18px;
            color: white;
        }
    }
}