.Scan {
  font-family: Montserrat;
  width: 100%;
  max-width: 800px;

  &_loading {
    width: 100vw;
    height: 100vh;
    background-color: #00000055;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-blend-mode: color-burn;
  }

  &_img {
    transition-duration: 1000ms;
    text-align: center;
    animation: loadingAnimation 5000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite; //For animation

    @keyframes loadingAnimation {
      0% {
        opacity: 1;
      }

      20% {
        opacity: 0.3;
      }

      40% {
        opacity: 1;
      }

      60% {
        opacity: 0.3;
      }

      80% {
        opacity: 1;
      }

      100% {
        opacity: 0.3;
      }
    }
  }

  &_IMG {
    &_Close svg {
      width: 80px;
      height: auto;
    }

    &_ErrorMessage svg {
      width: 100px;
      height: auto;
    }
  }

  &_wall {
    width: 100%;
    height: 75vh;
    background-color: #0000005b;
    z-index: 999;
  }

  &_square {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 20vh;
    left: calc(50vw - 150px);
    border: 2px solid #268fbc;
    border-radius: 5px;
    z-index: 99;
    background-color: #ffffff00;
    visibility: visible;
    video {
      height: 100%;
    }
  }

  &_scanner {
    & section {
      width: 100vw;
      height: 100vh;

      & div {
        width: 100vw !important;
        height: 100vh !important;
        border: none;
        padding: 0 !important;

        & video {
          width: 100vw !important;
          height: 100vh !important;
        }
      }
    }
  }

  &_back {
    position: fixed;
    top: 50px;
    right: 30px;
    z-index: 9999;
    visibility: visible;
  }

  &_result_input {
    width: 300px;
    transform: translate(-50%, 0);
    margin-left: 50vw;
    z-index: 999999;
    text-align: center;
    visibility: visible;

    & input {
      font-family: Montserrat;
      font-size: 17px;
      width: 300px;
      background-color: #16191c;
      color: #2aabe1;
      padding-block: 15px;
      padding-left: 40px;
      padding-right: 10px;
      border: 1px solid #2cb0e9;
      border-radius: 5px;
    }

    & button {
      margin-top: 10px;
      background-color: #151d24;
      border: 1px solid #268fbc;
      border-radius: 2rem;
      color: #949596;
      font-size: 20px;
      padding: 15px 50px;
      width: fit-content;
      transition-duration: 400ms;
    }

    & button:hover {
      background-color: #373a3d;
    }
  }

  &_input_icon {

    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    transform: translateY(50%);
    width: 20px;
    /* Adjust this value to change the icon size */
    height: 20px;
    /* Adjust this value to change the icon size */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &_svg {
      fill: #268fbc;
    }

    &_svg svg {
      width: 30px;
      height: 30px;
    }
  }

  &_pay_operation {
    position: fixed;
    width: 100%;
    text-align: center;
    margin-top: 35vh;
    display: flex;

    & input {
      font-family: Montserrat;
      font-size: 17px;
      width: 70vw;
      background-color: #16191c;
      color: #2aabe1;
      padding: 15px 20px;
      border: 1px solid #2aabe1;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      text-align: right;
    }

    & div {
      font-family: Montserrat;
      width: 70vw;
      background-color: transparent;
      padding: 15px 20px;
      border: 1px solid #2aabe1;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      text-align: center;
    }

    & button {
      font-family: Montserrat;
      background-color: #151d24;
      border: 1px solid #268fbc;
      color: #949596;
      font-size: 20px;
      padding: 15px 20px;
      width: fit-content;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      transition-duration: 400ms;
    }

    & button:hover {
      background-color: #373a3d;
    }
  }

  &_error {
    font-family: Montserrat;
    margin-top: 10%;
    color: rgb(199, 118, 118);
    text-align: center;
  }

  &_refocus {
    position: fixed;
    top: calc(20vh + 300px);
    width: 100%;
    display: inline-flex;
    justify-content: center;
    z-index: 99;

    &_button {
      border-radius: 5px;
      font-size: 22px;
      color: #adadad;
      border: none;
      background-color: #16191c;
      padding: 5px;
      text-align: center;
      position: relative;
      display: grid;

      &_dot {
        display: inline-flex;
        position: absolute;
        top: 30px;
        margin-inline: auto;
        margin-block: auto;
        transform: translate(-50%,0);
        left: 50%;
      }
    }
  }

  &_enable {
    background-color: #adadadca;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    margin-inline: 2px;
  }

  &_disable {
    background-color: #adadad40;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    margin-inline: 2px;
  }
}