.Scan{
  font-family: Montserrat;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  
  &_scanner section{
    & section{
      padding-top: 100vh !important;

      & div{
        width: 100% !important;
        border: none;
        border-bottom: 35vh solid rgba(0, 0, 0, 0.3) !important;
        border-top: 30vh solid rgba(0, 0, 0, 0.3) !important;
        border-right: calc(50vw - 17.5vh) solid rgba(0, 0, 0, 0.3) !important;
        border-left: calc(50vw - 17.5vh) solid rgba(0, 0, 0, 0.3) !important;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 30px inset !important;
      }

      & div::before {
        content: '';
        position: absolute;
        border: 25px solid #2cb0e9;
        width: calc(100% - 50px);
        height: calc(35vh - 50px);
        background: rgba(0, 0, 0, 0);
        z-index: -1;
        border-radius: 1.5rem;
      }
    }
  }

  &_back{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
  }

  &_result_input{
    width: 70vw;
    position: fixed;
    bottom: 100px;
    right: 15vw;
    z-index: 100;

    & input{
      font-family: Montserrat;
      font-size: 17px;
      width: 100%;
      width: 70vw;
      background-color: #16191c;
      color: #2aabe1;
      padding: 15px 2rem;
      border: none;
      border-radius: 2rem;
    }
  }
}