.highlight-row {
	animation: highlightPulse 2.4s ease-in-out;
	--background: var(--ion-color-light);
}

@keyframes highlightPulse {
	0% {
		--background: rgba(var(--ion-color-primary-rgb), 0.04);
	}

	25% {
		--background: rgba(var(--ion-color-primary-rgb), 0.06);
	}

	50% {
		--background: rgba(var(--ion-color-primary-rgb), 0.08);
	}

	75% {
		--background: rgba(var(--ion-color-primary-rgb), 0.06);
	}

	100% {
		--background: rgba(var(--ion-color-primary-rgb), 0.04);
	}
}
