.NodeUp{
  padding-bottom: 30px;
  font-family: Montserrat;

  &__no-found{
    display: block;
    text-align: center;
    padding-block: 40px;
    font-size: 1.6rem;
  }

  &_title{
    font-size: 80%;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
  }

  &_textBox{
    font-size: 60%;
    text-align: center;
    color: #949596;
    padding: 30px 0;
    border-bottom: 1px solid #949596;
    border-top: 1px solid #949596;
    margin-top: 30px;
    border-width: 1px;
    border-color: #949596;
  }

  &_manual{
    margin-top: 60px;
  }

  &_manual_text{
    font-size: 70%;
    color: #268fbc;
    text-align: center;
  }

  &_manual_btn{
    margin-top: 20px;
    padding: 0 20%;
    width: 100%;
  }

  &_manual_btn button{
    background-color: #151d24;
    border: 1px solid #268fbc;
    border-radius: 2rem;
    color: #949596;
    font-size: 70%;
    padding: 20px 25%;
    width: inherit;
    transition-duration: 400ms;
  }
  
  &_manual_btn button:hover{
    background-color: #373a3d;
  }

  &__items{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    padding-top: 20px;

    @media screen and (min-width: 680px){
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1020px){
      grid-template-columns: repeat(3, 1fr);
      gap: 35px;
    }
  }
}