.Skeleton{
  width: 100%;
  
  &__header{
    width: 100%;
    height: 50px;
    border-radius: 9px;
    margin-bottom: 20px;
  }

  &__body{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;

    @media screen and (min-width: 680px){
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1020px){
      grid-template-columns: repeat(3, 1fr);
      gap: 35px;
    }

    div{
      width: 100%;
      height: 400px;
      border-radius: 9px;
    }
  }
}