ion-modal#alert-select-modal {
	--width: fit-content;
	--min-width: 300px;
	--height: fit-content;
	--max-height: 700px;
	--border-radius: 16px;
	--box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}





ion-modal#alert-select-modal ion-item {
	margin: 0;
}

ion-modal#alert-select-modal ion-list ion-item:last-child::part(native) {
	--border-width: 0 0 0 0;
	--inner-border-width: 0;
}

ion-modal#alert-select-modal ion-list {
	padding-top: 0;
	padding-bottom: 0;
	border-bottom-color: rgb(57, 60, 62);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: rgb(57, 60, 62);
	border-top-style: solid;
	border-top-width: 1px;
}
