.Notify{
    &_container {
      // background-image: linear-gradient(320deg, #151d24 31%, #16191c 60%);
      width: 100%;
      padding-inline: 5%;
      padding-bottom: 30px;
      transition-duration: 500ms;
      font-family: Montserrat;
      justify-content: center;
      position: fixed;
      left: 0;
      height: 100%;
    }
  
    &_header {
      display: inline-flex;
      align-items: center;
      width: 290px;
      margin: auto;
      aspect-ratio : 1 / 1;
      background-color: white;
      border: 1px solid #2693c1;
      border-radius: 10px;
      &_text{
        margin-block: 10px;
        text-align: center;
        color: white;
        font-size: 26px;
        font-family: Montserrat;
      }
    }
}