.Sources{
  margin-top: 10px;
  height: 78vh;
  width: 94%;
  margin-inline: auto;
  font-family: Montserrat;

  &_notify {
    text-align: center;
    &_title{
      font-size: 130%;
      text-align: center;
    }
  
    &_textBox{
      font-size: 80%;
      text-align: start;
      color: #949596;
      border-width: 1px;
      border-color: #949596;
      margin: 10px auto;
      padding: 10px;
    }

    &_button {
      text-align: center;
      background-color: rgb(21, 29, 36);
      background-image: none;
      border-radius: 5px;
      border-width: 1px;
      border-color: rgb(41, 171, 226);
      border-style: solid;
      color: rgb(255, 255, 255);
      font-size: 20px;
      height: 45px;
      width: 81px;
      margin: 30px;
    }
  }

  &_IMG {
    &_EditSource svg {
      width: 20px;
      height: 20px;
    }

    &_SourceItemMenu svg {
      width: 30px;
      height: 30px;
    }
  }

  &_title {
    text-align: center;
  }

  &_pay_content {
    margin-top: 40px;
  }

  &_receive_content {
    margin-top: 20px;
  }

  &_content_title {
    font-size: 23px;
    display: flex;
    font-weight: bold;
  }

  &_question_mark {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    display: flex;
    margin-left: 10px;
  }

  &_content_discription{ 
    margin-top: 5px;
    font-size: 16px;
    color: #8c8c8c;
  }

  &_list_box {
    margin-top: 5px;
    border-radius: 7px;
    height: 25vh;
    overflow-y: auto;
  }

  &_item{
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0 auto;
    background-color: black;
    margin-block: 3px;
    border-radius: 6px;
  }

  &_item_left{
    height: 100%;
    width: calc(100% - 80px);
    display: inline-flex;
    float: left;
  }

  &_modal_header {
    font-family: Montserrat;
    border-radius: 8px 8px 0 0;
    justify-content: space-between;
    font-size: 30px;
  }

  &_modal_select_state_column{
    height: 45px;
    border-radius: 5px;
    margin-block: 1.5px;
    display: inline-flex;
    width: 75%;
    background-color: black;
  }

  &_modal_btn_grp{
    margin-top: 20px;
    text-align: right;

    & button:nth-child(1){
      font-size: 15px;
      font-family: Montserrat;
      font-weight: bold;
      padding: 10px 28px;
      border-radius: 1.5rem;
      border: none;
      background-color: #b81818;
      color: #fcfcfc;
      margin-right: 10px;
    }   
    
    & button:nth-child(2){
      font-size: 15px;
      font-family: Montserrat;
      font-weight: bold;
      padding: 10px 28px;
      border-radius: 1.5rem;
      border: none;
      background-color: #2693c1;
      color: #fcfcfc;
    }
  }

  &_modal_select_state_column.active{
      border: 1px solid #2693c1;
      box-shadow: #2693c1;
      color: #2693c1;
  }

  &_modal_code_discription{
    margin-top: 30px;
    font-size: 15px;
    color: #8c8c8c;
  }

  &_modal_code{
    
    & input {
      color: #999999;
      border: 1px solid #2aabe1;
      font-size: 14px;
      font-family: Montserrat;
      text-align: center;
      margin-top: 10px;
      background-color: transparent;
      padding: 12px;
      width: 100%;
      border-radius: 5px;
      overflow-x: auto;

      &::placeholder{
        font-family: Montserrat;
        color: #999999;
      }
    }
  }

  &_modal_select_state{
    margin-top: 20px;
    padding-bottom: 5px;
  }

  &_item_right{
    display: inline-flex;
    float: right;
    width: 75px;
  }

  &_modal_icon{
    width: 30px;
  }

  &_item_input{
    text-align: center;
    display: flex;
    align-items: center;
  }

  &_item_icon {
    margin-inline: 10px;
    height: 100%;
    display: flex;
    align-items: center;

    & div {
      width: 33px;
      height: 33px;
      display: inline-flex;
      align-items: center;
    }
  }

  &_item_balance{
    font-size: 16px !important;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  &_modal_input{
    display: inline-flex;
    align-items: center;
    text-align: left;
    margin-top: 3px;
    padding: 5px;
    width: 100%;
    color: #fcfcfc;
    font-size: 20px;
    border: none;
    border-radius: 5px;
  }

  &_modal_input>p{
    font-size: 25px;
    width: 40px;
    text-align: center;
  }

  &_item_input div{
    width: 100%;
    color: #999999;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-left: 1%;
    overflow-x: hidden;
    white-space: nowrap;
  }

  &_item_close{
    width: 50%;
    background-color: transparent;
    margin-inline: 4px;
    position: relative;
    border: 0px solid transparent;
  }

  &_item_menu{
    background-color: transparent;
    position: relative;
    margin-right: -8px;
    padding: 5px 0 0 0;
    width: 70%;
    border: 1px solid transparent;
    margin-inline: 4px;
    cursor: pointer;
  }

  &_add_btn{
    float: right;
    margin: 30px;
  }

  &_add_btn{

    & button {
      display: flex;
      align-items: center;
      position: relative;
      box-sizing: border-box;
      font-size: 20px;
      font-family: Montserrat;
      font-weight: bold;
      padding: 1px 28px;
      $border: 1px;
      color: #FFF;
      background: #16191c;
      background-clip: padding-box; /* !importanté */
      border: solid $border transparent; /* !importanté */
      border-radius: 5px;
    
      &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border; /* !importanté */
        border-radius: 3px; /* !importanté */
        background: linear-gradient(150deg, #29ABE2, #B0B0B0);
      }
    }
  }

  &_modal_add_btn{
    margin-top: 10px;
    text-align: center;
    padding: 0;
    width: 100%;
  }

  &_modal_add_btn_bottom{
    margin-top: 10px;
    text-align: center;
    padding: 0;
    width: 100%;
    position: fixed;
    left: 0;
  }

  &_modal_add_btn button{
    margin: 10px;
    background-color: #151d24;
    border: 1px solid #268fbc;
    border-radius: 6px;
    color: white;
    font-size: 100%;
    padding-inline: 30px;
    padding-block: 10px;
    transition-duration: 400ms;
    margin-bottom: 30px;
  }

  &_modal_add_btn_bottom button{
    margin: 10px;
    background-color: #151d24;
    border: 1px solid #268fbc;
    border-radius: 6px;
    color: white;
    font-size: 100%;
    padding-inline: 30px;
    padding-block: 10px;
    transition-duration: 400ms;
    margin-bottom: 30px;
  }

  &_modal_discription{
    font-size: 15px;
    color: #8c8c8c;
    margin-top: 10px;
  }

  &_modal_optional_labal{
    
    & input{
      text-align: center;
      width: 100%;
      border: none;
      font-size: 12px;
      font-family: Montserrat;
      color: #2693c1;
      margin-top: 10px;
      background-color: transparent;
      padding: 12px;
      border-radius: 2rem;
      overflow-x: auto;
    }

    & input::placeholder{
      font-family: Montserrat;
      color: #fcfcfc;
    }
  }

  &_dropdown_title{
    font-weight: bold;
    color: #2693c1;
    text-align: center;
    margin-top: -10px;
  }
}