.Sources{
  margin-top: 10px;
  height: 78vh;
  font-family: Montserrat;

  &_title{
    text-align: center;
  }

  &_pay_content{
    margin-top: 40px;
  }

  &_receive_content{
    margin-top: 20px;
  }

  &_content_title{
    font-size: 23px;
  }

  &_content_discription{
    margin-top: 5px;
    font-size: 16px;
    color: #8c8c8c;
  }

  &_list_box{
    padding: 0px 10px !important;
    margin-top: 5px;
    border-radius: 7px;
    background-color: #101010;
    height: 150px;
    --scrollbar-width: 8px;
    --mask-height: 2px;
    overflow-y: auto;
    padding-top: var(--mask-height);
    padding-bottom: var(--mask-height);
    --mask-image-content: linear-gradient(
      to bottom,
      transparent,
      black var(--mask-height),
      black calc(100% - var(--mask-height)),
      transparent
    );
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: var(--scrollbar-width) 100%;
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
  }

  &_item{
    display: flow-root;
  }

  &_item_left{
    width: 65%;
    display: inline-flex;
    float: left;
  }

  &_modal_select_state_column{
    display: inline-flex;
    width: 60%;
  }

  &_modal_btn_grp{
    margin-top: 20px;
    text-align: right;

    & button:nth-child(1){
      font-size: 15px;
      font-family: Montserrat;
      font-weight: bold;
      padding: 10px 28px;
      border-radius: 1.5rem;
      border: none;
      background-color: #b81818;
      color: #fcfcfc;
      margin-right: 10px;
    }   
    
    & button:nth-child(2){
      font-size: 15px;
      font-family: Montserrat;
      font-weight: bold;
      padding: 10px 28px;
      border-radius: 1.5rem;
      border: none;
      background-color: #2693c1;
      color: #fcfcfc;
    }
  }

  &_modal_select_state_column:hover{
    .Sources_modal_input{
      border: 1px solid #2693c1;
      box-shadow: #2693c1;
    }

    .Sources_modal_icon{
      color: #2693c1;
      text-shadow: #2693c1 1px 0 10px;
    }
  }

  &_modal_code_discription{
    margin-top: 30px;
    font-size: 15px;
    color: #8c8c8c;
  }

  &_modal_code{
    
    & input {
      color: #2aabe1;
      border: none;
      font-size: 12px;
      font-weight: bold;
      font-family: Montserrat;
      text-align: center;
      margin-top: 10px;
      background-color: #16191c;
      padding: 12px;
      width: 100%;
      border-radius: 2rem;
      overflow-x: auto;

      &::placeholder{
        color: #2aabe1;
      }
    }
  }

  &_modal_select_state{
    margin-top: 20px;
    padding-bottom: 40px;
  }

  &_item_right{
    display: inline-flex;
    float: right;
  }

  &_item_icon{
    width: 30px;
  }

  &_modal_icon{
    width: 30px;
  }

  &_item_input{
    margin-top: 3px;
    width: 93%;
  }

  &_item_balance{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 16px !important;
    font-weight: bold;
  }

  &_modal_input{
    text-align: left;
    margin-top: 3px;
    padding: 5px 13px;
    width: 100%;
    background-color: #16191c;
    color: #fcfcfc;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }

  &_item_input div{
    width: 100%;
    background-color: #202020;
    color: #fcfcfc;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 1%;
    overflow-x: hidden;
  }

  &_item_close{
    width: 50%;
    padding: 5px 0 0 0;
    background-color: #101010;
    position: relative;
    border: 1px solid transparent;
  }

  &_item_menu{
    background-color: #101010;
    position: relative;
    margin-right: -8px;
    padding: 5px 0 0 0;
    width: 70%;
    border: 1px solid transparent;
    cursor: pointer;
  }

  &_add_btn{
    float: right;
    margin-top: 40px;
  }

  &_add_btn button{
    font-size: 20px;
    font-family: Montserrat;
    font-weight: bold;
    padding: 10px 28px;
    border-radius: 1.5rem;
    border: none;
    background-color: #2693c1;
    color: #fcfcfc;
  }

  &_modal_add_btn{
    margin-top: 10px;
  }

  &_modal_add_btn button{
    font-size: 15px;
    font-family: Montserrat;
    font-weight: bold;
    padding: 10px 28px;
    border-radius: 1.5rem;
    border: none;
    background-color: #2693c1;
    color: #fcfcfc;
  }

  &_modal_discription{
    font-size: 15px;
    color: #8c8c8c;
  }

  &_modal_optional_labal{
    

    & input{
      color: #fcfcfc;
      text-align: center;
      width: 100%;
      border: none;
      font-size: 14px;
      font-weight: bold;
      font-family: Montserrat;
      margin-top: 10px;
      background-color: #16191c;
      padding: 12px;
      border-radius: 2rem;
      overflow-x: auto;
    }

    & input::placeholder{
      font-weight: 100;
      color: #f3efef;
    }
  }

  &_dropdown_title{
    font-weight: bold;
    color: #2693c1;
    text-align: center;
    margin-top: -10px;
  }
}