.Home{
  padding-bottom: 30px;
  overflow-y: scroll;
  position: relative;

  &_sats{
    position: relative;
    border: 1px solid #2693c1;
    text-align: center;
    padding: 6vh 0;
    background-color: #182830;
    height: 25vh;
    margin-top: 0;
  }

  &_sats_amount{
    font-size: 2.2rem;
    font-weight: bold;
  }

  &_sats_name{
    margin-top: 7px;
    font-size: 1.3rem;
    color: #2693c1;
  }

  &_sats_changes{
    font-size: 1.4rem;
    margin-top: 10px;
    color: #7a8989;
  }

  &_content{
    padding: 0 !important;
    --scrollbar-width: 8px;
    --mask-height: 6vh;
    overflow-y: auto;
    height: 53vh;
    padding-top: var(--mask-height);
    padding-bottom: var(--mask-height);
    --mask-image-content: linear-gradient(
      to bottom,
      transparent,
      black var(--mask-height),
      black calc(100% - var(--mask-height)),
      transparent
    );
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: var(--scrollbar-width) 100%;
    -moz-mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    -moz-mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
  }
}