.Home{
  padding-bottom: 30px;
  margin-top: 10px;
  position: relative;
  width: 94%;
  margin-inline: auto;
  font-family: Montserrat;

  &_sats{
    position: relative;
    border: 1px solid #2693c1;
    text-align: center;
    background-color: #151d24;
    padding-top: 35px;
    height: 175px;
    margin-top: 0;
    border-radius: 5px;
  }

  
  &_sats_amount{
    font-size: 2.2rem;
    font-family: Montserrat;
    font-weight: bold;
  }

  &_sats_name{
    margin-top: 7px;
    font-size: 1.1rem;
    color: #2693c1;
  }

  &_sats_changes{
    font-size: 1rem;
    margin-top: 10px;
    color: #7a8989;
  }

  &_scroller{
    --scrollbar-width: 0px;
    --mask-height: 10px;
    overflow-y: auto;
    height: calc(100vh - 350px);
    // padding-top: var(--mask-height);
    padding-bottom: var(--mask-height);
    --mask-image-content: linear-gradient(
      to bottom,
      transparent,
      black var(--mask-height),
      black calc(100% - var(--mask-height)),
      transparent
    );
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
    --mask-image-scrollbar: linear-gradient(black, white, black);
    --mask-size-scrollbar: var(--scrollbar-width) 100%;
    -moz-mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    -moz-mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
  }

  &_content{
    margin-top: 30px;
  }

  &_scroller::-webkit-scrollbar {
    display: none;
  }

  &_modal_header {
    font-family: Montserrat;
    border-radius: 8px 8px 0 0;
    justify-content: space-between;
    font-size: 30px;
  }

  &_modal_discription{
    font-size: 15px;
    color: #8c8c8c;
    margin-top: 10px;
  }

  
  &_add_btn{
    margin-block: 30px;
    display: flex;

    & button {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      font-size: 22px;
      font-family: Montserrat;
      font-weight: bold;
      padding-block: 3px;
      width: 136px;
      text-align: center;
      align-items: center;
      justify-content: center;
      $border: 1px;
      color: #FFF;
      background: #16191c;
      background-clip: padding-box; /* !importanté */
      border: solid $border transparent; /* !importanté */
      border-radius: 5px;
    
    }

    &_container {
      position: relative;
      top: 0; right: 0; bottom: 0; left: 0;
      margin: -1px; /* !importanté */
      border-radius: 3px; /* !importanté */
      background: linear-gradient(150deg, #29ABE2, #B0B0B0);
      margin-inline: auto;
    }

  }

  &_modal_clipboard {
    margin-block: 30px;
    font-size: 18px;
    color: #54bbe8;
  }

  &_clipboard {
    margin-inline: 5px;
    align-items: center;
    display: flex;
  }
}