.Button-category{
  display: none;
  padding: 6px;
  margin: 0 7px;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  background-color: transparent;
  border: 1px solid $border-color;
  border-radius: 9px;

  @media screen and (min-width: 700px){
    display: inherit;
  }
}

.chosen{
  background-color: $border-color;
  font-weight: 600;
  color: white;
}