.Search-input{
  width: 100%;
  padding: 5px 6px;
  display: flex;
  align-items: center;
  border: 1px solid $border-color;
  border-radius: 9px;

  label{
    margin-right: 5px;
  }

  input{
    width: 100%;
    padding-left: 3px;
    border: none;
    outline: none;
    font-size: 1.3rem;
  }

  @media screen and (min-width: 700px){
    width: 100px;
  }
}