.Product{
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 6px;
  padding-block: 15px;

  &__thumbnail{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 5px;
    border-radius: 9px;
    overflow: hidden;

    img{
      width: 100%;
    }
  }

  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;

    div *{
      display: block;
    }
    h2{
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.5px;
      white-space: pre-line;
      max-height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span{
      font-size: 1.1rem;
      margin-block: 5px;
    }
    select{
      width: 125px;
      padding: 3px;
      font-size: 1.1rem;
    }
  }

  @media screen and (min-width: 700px){
    grid-template-columns: 120px 1fr;
    gap: 20px;

    &__content{
      div{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
  }
}