/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --ion-color-primary: #29abe2;
  --ion-color-primary-rgb: 41, 171, 226;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #2496c7;
  --ion-color-primary-tint: #3eb3e5;

  --ion-color-secondary: #151d24;
  --ion-color-secondary-rgb: 21, 29, 36;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #015796;
  --ion-color-secondary-tint: #1a73b3;

  --ion-color-tertiary: #6030ff;
  --ion-color-tertiary-rgb: 96, 48, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #542ae0;
  --ion-color-tertiary-tint: #7045ff;

  --ion-color-success: #2dd55b;
  --ion-color-success-rgb: 45, 213, 91;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28bb50;
  --ion-color-success-tint: #42d96b;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #c5000f;
  --ion-color-danger-rgb: 197, 0, 15;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ad000d;
  --ion-color-danger-tint: #cb1a27;

  --ion-color-light: #f6f8fc;
  --ion-color-light-rgb: 246, 248, 252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8dade;
  --ion-color-light-tint: #f7f9fc;

  --ion-color-medium: #5f5f5f;
  --ion-color-medium-rgb: 95, 95, 95;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #545454;
  --ion-color-medium-tint: #6f6f6f;

  --ion-color-dark: #2f2f2f;
  --ion-color-dark-rgb: 47, 47, 47;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #292929;
  --ion-color-dark-tint: #444444;



  --ion-background-color: #16191c;
  --ion-background-color-rgb: 22, 25, 28;

  --ion-text-color: #fcfcfc;
  --ion-text-color-rgb: 252, 252, 252;

  --ion-text-color-step-50: #f0f1f1;
  --ion-text-color-step-100: #e5e5e6;
  --ion-text-color-step-150: #dadada;
  --ion-text-color-step-200: #cecfcf;
  --ion-text-color-step-250: #c3c3c4;
  --ion-text-color-step-300: #b7b8b9;
  --ion-text-color-step-350: #acadae;
  --ion-text-color-step-400: #a0a1a2;
  --ion-text-color-step-450: #959697;
  --ion-text-color-step-500: #898b8c;
  --ion-text-color-step-550: #7e7f81;
  --ion-text-color-step-600: #727476;
  --ion-text-color-step-650: #66686a;
  --ion-text-color-step-700: #5b5d5f;
  --ion-text-color-step-750: #505254;
  --ion-text-color-step-800: #444649;
  --ion-text-color-step-850: #393b3e;
  --ion-text-color-step-900: #2d3032;
  --ion-text-color-step-950: #222427;

  --ion-background-color-step-50: #222427;
  --ion-background-color-step-100: #2d3032;
  --ion-background-color-step-150: #393b3e;
  --ion-background-color-step-200: #444649;
  --ion-background-color-step-250: #505254;
  --ion-background-color-step-300: #5b5d5f;
  --ion-background-color-step-350: #66686a;
  --ion-background-color-step-400: #727476;
  --ion-background-color-step-450: #7e7f81;
  --ion-background-color-step-500: #898b8c;
  --ion-background-color-step-550: #959697;
  --ion-background-color-step-600: #a0a1a2;
  --ion-background-color-step-650: #acadae;
  --ion-background-color-step-700: #b7b8b9;
  --ion-background-color-step-750: #c3c3c4;
  --ion-background-color-step-800: #cecfcf;
  --ion-background-color-step-850: #dadada;
  --ion-background-color-step-900: #e5e5e6;
  --ion-background-color-step-950: #f0f1f1;


}

ion-toolbar {
  --background: var(--ion-background-color)
}

ion-input.wallet-input.input-fill-outline {
  --border-color: var(--ion-color-primary) !important;
  --border-width: 1px;
  --border-style: solid;
  --padding-bottom: 1px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 1px;
  --border-radius: 10px;
  min-height: 49px;
  font-size: 22px;
}

ion-item {
  --inner-padding-start: 10px;
}

ion-divider {
  min-height: 0;
}

ion-button,
ion-item {
  --ripple-color: var(--ion-color-primary);
}

ion-modal.wallet-modal ion-content {
  --background: var(--ion-color-secondary);
}

ion-modal.wallet-modal {
  --background: var(--ion-color-secondary);
}

ion-note {
  font-size: 0.6em;
  color: var(--ion-color-medium);

  color: var(--ion-color-step-600);

  color: rgba(255, 255, 255, 0.7);
}

ion-spinner {
  width: 60px;
  height: 60px;
}