.NotifyItem{
  font-size: 1.2rem;
  // border: 1px solid #8c8c8c;
  display: flow-root;
  width: 98%;
  margin-bottom: 13px;
  border-radius: 5px;
  padding: 3px 0px;
  box-shadow: 0px 0px 2px #8c8c8c;
  display: inline-flex;
  padding: 12px;
  cursor: pointer;

  &_icon{
    font-size: 28px;
  }

  &_left{
    float: left;
    display: flex;
    width: 100%;
  }

  &_text{
    margin-left: 10px;
    width: 100%;
  }

  &_header{
    font-size: 14px;
    color: white;
    display: inline-flex;
    width: 100%;
  }

  &_desc{
    margin-top: 2px;
    font-size: 16px;
    color: #54bbe8;
  }

  &_date{
    display: flex;
    font-size: 14px;
    color: #a3a3a3;
    margin-left: auto;
  }

  &_close {
    margin-top: -7px;
    margin-right: -1px;
  }
}