.toggle {
  position: relative;
  width: 37px;
  height: 20px;
  border-radius: 24px;
  background-color: #16191c;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid #b0b0b0;

  .indicator {
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    width: 16px;
    background-color: #2693c1;
    border-radius: 50%;
    

    &On {
      right: initial;
      left: 1px;
    }

    transition: width 0.25s ease;
  }

  .backIcon {
    & div {
      & svg {
        position: absolute;
        top: 1px;
        right: 1px;
        width: 16px;
        height: 16px;
      }
    }
  }

  &:active {
    .indicator {
      width: 20px;
    }
  }

  &.checked {
    background-color: var(--primary);
  }
}
