.toggle {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 24px;
  background-color: #16191c;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid #2693c1;

  .indicator {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    width: 25px;
    background-color: #2693c1;
    border-radius: 50%;
    

    &On {
      left: initial;
      right: 4px;
    }

    transition: width 0.25s ease;
  }

  &:active {
    .indicator {
      width: 35px;
    }
  }

  &.checked {
    background-color: var(--primary);
  }
}
