.balance-card {
	width: 93%;
	margin: 0 auto;
	height: 175px;
	border: 2px solid var(--ion-color-primary);
	background: var(--ion-color-secondary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Montserrat;
	border-radius: 5px;
	position: relative;
	overflow: hidden;

	.amount {
		font-size: 2.2rem;
		font-weight: 700;
	}

	ion-button {
		text-transform: none;
		display: block;
	}
}