.sanctum-container {
	height: 128px;
	border: 2px solid #32a852;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	padding: 15px;
	gap: 7px;
	&.when-confirmed {
		padding: 0;
		padding-bottom: 15px;
	}


	.sanctum-logo {
		margin-top: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		span {
			font-size: 11px;
			color: #ffffff;
			text-align: center;
		}
	
		div {
			padding: 0 5px;
			width: 116px;
			display: flex;
			justify-content: center;
	
			&>img {
				width: 104px;
				height: 12px;
			}
		}
	}

	.alt-view-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 7px;
		margin: auto;


		.sanctum-timer-description {
			font-size: 11px;
			color: #ffffff;
		}
		.sanctum-timer {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 2px;
			font-size: 16px;
			color: #8c8c8c;
			margin: auto;
		}

		

		&.sanctum-loading {
			display: flex;
			align-items: center;
			justify-content: center;
			@keyframes rotateAnimation {
				0% {
					transform: rotate(0deg);
				}
				50% {
					transform: rotate(360deg);
				}
				100% {
					transform: rotate(380deg);
				}
			}
			svg {
				width: 30px;
				height: 30px;
				transition-duration: 1000ms;
				animation: rotateAnimation 1100ms linear infinite;
			}
		}
		&.confirmed {
			margin: unset;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1px;
			&.logout-prompt {
				margin-top: 7px;
				gap: 7px;
			}

			.logout-cross {
				align-self: flex-end;
				cursor: pointer;
				margin: 7px 7px 0px 0px;
			}
			.title {
				font-size: 16px;
			}
			& svg {
				width: 24px;
				height: 24px;
			}
		
		}
	}

	.sanctum-button-group {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 14px;
		&.logout-buttons {
			.sanctum-login-button {
				width: 80px;
				height: 41px;
			}
		}
		.sanctum-login-button {
			width: 120px;
			height: 51px;
			font-weight: 600;
			background-color: #32a852;
			border: none;
			border-radius: 5px;
			color: #ffffff;
			font-size: 16px;
			transition-duration: 400ms;
			padding: 0;
			border: 0;
			font-family: inherit;
			font-style: inherit;
			font-variant: inherit;
			line-height: 1;
			text-transform: none;
			cursor: pointer;
			-webkit-appearance: button;
			&:hover,
			&:active {
				filter: brightness(120%);
			}
		}

	}
}

.sanctum-container p {
	font-size: 11px;
	color: #8c8c8c;
	text-align: center;
}

















.sanctum-confirmed>svg {
	width: 24px;
	height: 24px;
}





.timer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	font-size: 16px;
	color: #8c8c8c;
	margin: auto;


	svg {
		margin-block-start: 2px;
		height: 16px;
	}


}

.description {
	margin-block-start: -10px;
	margin-block-end: 5px;
	font-size: 11px;
	color: #ffffff;
}





