.SwItem{
  font-size: 1.2rem;
  border: none;
  display: flow-root;
  margin: auto;
  width: 100%;
  cursor: pointer;

  &_stateIcon{
    height: auto;
    width: auto;
    margin-top: 11px;
    font-family: Open Sans;
    font-size: 18px;
    color: #898989;
    text-decoration: none solid rgb(137, 137, 137);
    text-align: center;
    transform: rotate(-2deg);
  }

  &_left{
    float: left;
    display: flex;
    margin-top: 5px;
  }

  &_right{
    margin-right: 10px;
    float: right;
    margin-top: 5px;
  }

  &_text{
    margin-left: 10px;
  }

  &_date{
    font-size: 16px;
    color: #a3a3a3;
  }

  &_station{
    margin-top: 7px;
    font-size: 18px;
    color: #2aabe1;
  }

  &_price{
    display: flex;
  }
  
  &_price_img{
    margin-right: 5px;
  }
  
  &_price_text{
    font-size: 16px;
  }

  &_changes{
    color: #898989;
    text-align: right;
    font-size: 16px;
    margin-bottom: 2px;
  }

  &_divider {
    background-color: #8c8c8c;
    height: 1px;
  }
}