.Button-small{
  position: relative;
  margin: 0 7px;
  @include buttonPrimary;

  &__notification{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $contrast-color;
    position: absolute;
    right: -25%;
    top: -55%;
  }
}

.cta{
  background-color: $clear-color;
  padding: 5px;
  border-radius: 50%;
  z-index: 1;
}