$border-color: #BBBBBB;
$contrast-color: #5BB166;
$clear-color: #E2E2E2;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #16191c;
  color: #fcfcfc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 162.5%;
  text-shadow: rgb(0, 0, 0) 0px 0px 1.16667px;
}

#root{
  position: relative;
  min-height: 100vh;
}

.App{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.6rem;
  height: 100vh;
  position: relative;
}

@mixin buttonPrimary {
  border: none;
  background-color: transparent;
}

input:focus-visible {
  outline: 1px solid #2693c1;
}

@import "./Pages/Home/Home.scss";
@import "./Pages/Loader/Loader.scss";
@import "./Pages/Sources/Sources.scss";
@import "./Pages/NodeUp/NodeUp.scss";
@import "./Pages/Scan/Scan.scss";
@import "./Pages/Receive/Receive.scss";
@import "./Pages/Send/Send.scss";
@import "./Pages/Prefs/Prefs.scss";
@import "./Pages/Auth/auth.scss";
@import "./Pages/Notify/notify.scss";

@import "./Containers/Header/Header.scss";
@import "./Containers/Footer/Footer.scss";

@import "./Components/Dropdowns/SourceSortDropdown/SourceSortDropdown.scss";
@import "./Components/Dropdowns/SpendFromDropdown/SpendFromDropdown.scss";
@import "./Components/SwItem/SwItem.scss";
@import "./Components/NotifyItem/NotifyItem.scss";