$border-color: #BBBBBB;
$contrast-color: #5BB166;
$clear-color: #E2E2E2;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #16191c;
  color: #fcfcfc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;

  &:active{
    .mouseClick_animation{
      opacity: 0.8;
    }
  }
}
#root{
  position: relative;
  min-height: 100vh;
}
.App{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.6rem;
}

.mouseClick_animation{
  opacity: 0;
  position: absolute; 
  background-color: #5BB166;
  transition-duration: 500ms;
}

@mixin buttonPrimary {
  border: none;
  background-color: transparent;
}

@import "./Pages/Home/Home.scss";
@import "./Pages/Loader/Loader.scss";
@import "./Pages/Sources/Sources.scss";
@import "./Pages/NodeUp/NodeUp.scss";
@import "./Pages/Scan/Scan.scss";
@import "./Pages/Receive/Receive.scss";

@import "./Containers/Header/Header.scss";
@import "./Containers/Footer/Footer.scss";

@import "./Components/SwItem/SwItem.scss";
@import "./Components/Dropdowns/SourceSortDropdown/SourceSortDropdown.scss";