$border-color: #BBBBBB;
$contrast-color: #5BB166;
$clear-color: #E2E2E2;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.safe-area {
  margin-top: env(safe-area-inset-top);
  margin-bottom: env(safe-area-inset-bottom);
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);

  // &>ion-router-outlet>div>div:nth-child(3) {
  //   max-width: 800px;
  //   transform: translate(-50%, 0);
  //   margin-left: 50%;
  // }
}
body{
  background-color: #16191c;
  color: #fcfcfc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 162.5%;
  text-shadow: rgb(0, 0, 0) 0px 0px 1.16667px;

  //toastify
  --toastify-color-success: #32a852;
  --toastify-toast-width: 400px;
  .Toastify__toast-body {
    font-weight: bolder;
    font-size: 21px;
    color: #fcfcfd;
    font-family: Montserrat;
    text-shadow: none;
  }
}

#root{
  position: relative;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

.App{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.6rem;
  height: 100vh;
  position: relative;
}

@mixin buttonPrimary {
  border: none;
  background-color: transparent;
}

.error-page {
  text-align: center;
  padding: 20px;
  margin-top: 35vh;

  &>div {
    position: fixed;
    top: 4%;
    left: 5%;

    &>button {
      @include buttonPrimary;
      font-size: 20px;
      color: #a3a3a3;
      text-decoration: underline;
    }
  }
  &>h2 {
    font-size: 25px;
  }

  &>button {
    @include buttonPrimary;
    font-size: 18px;
    color: #ffff;
    text-decoration: underline;
  }

  &>p {
    font-size: 20px;
    color: #ab4747;
  }
}

input:focus-visible {
  outline: 1px solid #2693c1;
}
.sortable-ghost-class {
  background-color: #2693c1 !important;
}
.sortable-chosen-class {
  background-color: #2693c1 !important;
  & * {
    color: white !important;
  }
}
/* .sortable-drag-class {
  display: none !important;
} */

body.barcode-scanner-active {
  visibility: hidden;
  background: transparent;
  --background: transparent;
  --ion-background-color: transparent;
}

.ant-notification {
  visibility: visible;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}




@import "./Pages/Home/Home.scss";
@import "./Pages/Loader/Loader.scss";
@import "./Pages/Sources/Sources.scss";
@import "./Pages/NodeUp/NodeUp.scss";
@import "./Pages/Scan/Scan.scss";
@import "./Pages/Receive/Receive.scss";
@import "./Pages/Send/Send.scss";
@import "./Pages/Prefs/Prefs.scss";
@import "./Pages/Automation/Auto.scss";
@import "./Pages/Auth/auth.scss";
@import "./Pages/Notify/notify.scss";

@import "./Containers/Header/Header.scss";
@import "./Containers/Footer/Footer.scss";

@import "./Components/Dropdowns/SourceSortDropdown/SourceSortDropdown.scss";
@import "./Components/Dropdowns/SpendFromDropdown/SpendFromDropdown.scss";
@import "./Components/SwItem/SwItem.scss";
@import "./Components/NotifyItem/NotifyItem.scss";