/* .Offers{
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 800px;
    &_container {
      // background-image: linear-gradient(320deg, #151d24 31%, #16191c 60%);
      width: 100%;
      padding-inline: 5%;
      padding-bottom: 30px;
      transition-duration: 500ms;
      font-family: Montserrat;
      justify-content: center;
      position: fixed;
      left: 0;
      height: 100%;
      margin-top: 30px;
    }
  
    &_header {
      display: inline-flex;
      align-items: center;
      width: 290px;
      margin: auto;
      aspect-ratio : 1 / 1;
      background-color: white;
      border: 1px solid #2693c1;
      border-radius: 10px;
      &_text{
        margin-block: 10px;
        text-align: center;
        color: white;
        font-size: 26px;
        font-family: Montserrat;
      }
    }

    &_connect_state{
      color: red;
      text-align: center;
    }

    &_item{
      display: flex;
      font-size: 12px;
      color: #999999;
      align-items: start;
      .item_title{
        display: flex;
        gap: 5px;
        background-color: black;
        width: 150px;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
      }

      .item {
        display: flex;
        margin: 5px 0;
        padding: 5px 10px;
        background-color: black;
        border-radius: 5px;
        width: 153px;
        gap: 5px;
        align-items: center;
      }
      
      .RightIcon{
        margin: 10px;
      }

      .offers_dropdown{
        background-color: black;
        border-radius: 5px;
      }
    }
  &_source {
    border-radius: 5px;
    border: 1px solid #2a3035;
    padding: 10px;
    margin-top: 10px;

    .source_header {
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .source_data {
      font-size: 12px;
      color: #adadad;
      margin: 5px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .source_footer {
      font-size: 12px;
      color: #29abe2;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .edit_source {
      input {
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: Montserrat;
        font-size: 15px;
        text-align: start;
        width: 100%;
        background-color: #16191cf7;
        color: #a3a3a3;
        box-shadow: rgb(0, 0, 0) 0px 0px 2px 0px;
        padding-block: 8px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #2cb0e9;
        border-radius: 5px;
      }
    }
  }
} */