.Header{
  position: relative;
  padding: 3vh 0 0 0;
  height: 10vh;
  width: 100%;
  display: inline-block;

  &__logo_1{
    @include buttonPrimary;
    width: 50%;
    margin-left: 25%;
  }

  &__logo_2{
    @include buttonPrimary;
    float: left;
  }

  &__menu{
    @include buttonPrimary;
    margin-top: 3px;
    float: right;
  }

  &_text{
    text-align: center;
    font-family: cursive;
    font-size: 140%;
    letter-spacing: 2px;
  }
}