.Footer{
  max-width: 800px;
  transform: translate(-50%, 0);
  margin-left: 50%;
  position: fixed;
  left: 0;
  top: calc(100vh - 60px);
  width: 100%;
  height: 60px;
  text-align: center;

  &_IMG_QR svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    transform: translate(8px, 8px);
  }

  &_receive_btn{
    float: left;
    width: 50%;
    height: 100%;

    & button{
      border: none;
      background-color: #151d24;
      border-top: 2px solid #268fbc;
      border-right: 2px solid #268fbc;
      color: white;
      font-weight: bold;
      width: calc(100% + 1px);
      height: 100%; 
      font-family: Montserrat;
      font-size: 1.3rem;
      text-shadow: rgb(0, 0, 0) 1px 1px 1.16667px !important;

      & div {
        border-radius: 5px;
        border: 1px solid #2693c1;
        padding: 5px;
        width: 75%;
        float: right;
        margin-right: 3px;
      }
    }

    @media screen and (min-width: 800px){
      & button{
        border-left: 2px solid #268fbc;
      }
    }
  }

  &_send_btn{
    width: 50%;
    height: 100%; 
    float: right;

    & button{
      border: none;
      background-color: #151d24;
      border-top: 2px solid #268fbc;
      color: white;
      font-weight: bold;
      width: 100%;
      font-family: Montserrat;
      height: 100%; 
      font-size: 1.3rem;

      & div {
        border-radius: 5px;
        border: 1px solid #2693c1;
        padding: 5px;
        width: 75%;
        float: left;
        margin-left: 3px;
      }
    }

    @media screen and (min-width: 800px){
      & button{
        border-right: 2px solid #268fbc;
      }
    }
  }

  &_QR {
    z-index: 999999;
    position: relative;
    border: 1px solid #2693c1;
    height: 50px;
    width: 50px;
    padding: 5px;
    transform: translate(-50%, 0);
    margin-left: 50%;
    margin-top: -25px;
    border-radius: 50%;
    background-color: #16191c;
  }

  &_receiveBTN {
    width: 50%;
    height: 100%;
  }
}