.Footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 9vh;

  &_receive_btn{
    font-size: 1.1rem;
    font-weight: bold;
    color: beige;
    background-color: #2693c1;
    border: none;
    width: 50%;
    height: 100%;
  }

  &_send_btn{
    font-size: 1.1rem;
    font-weight: bold;
    color: beige;
    background-color: #2693c1;
    border: none;
    width: 50%;
    height: 100%;
  }

  &_QR{
    position: absolute;
    border: 1px solid #2693c1;
    z-index: 1000;
    height: 70px;
    width: 70px;
    padding: 5px;
    margin-left: 50%;
    left: -35px;
    margin-bottom: -35px;
    bottom: 100%;
    border-radius: 50%;
    background-color: #16191c;
  }
}