.Footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;

  &_IMG_QR svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &_receive_btn{
    float: left;
    width: 50%;
    height: 100%;

    & button{
      border: none;
      background-color: #151d24;
      border-top: 2px solid #268fbc;
      border-right: 2px solid #268fbc;
      color: beige;
      width: calc(100% + 1px);
      height: 100%; 
      font-family: Montserrat;
      font-size: 1.3rem;
      text-shadow: rgb(0, 0, 0) 1px 1px 1.16667px !important;
    }
  }

  &_send_btn{
    width: 50%;
    height: 100%; 
    float: right;

    & button{
      border: none;
      background-color: #151d24;
      border-top: 2px solid #268fbc;
      color: beige;
      width: 100%;
      font-family: Montserrat;
      height: 100%; 
      font-size: 1.3rem;
    }
  }

  &_QR {
    z-index: 999999;
    position: relative;
    border: 1px solid #2693c1;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin-left: calc(50% - 25px);
    margin-top: -25px;
    border-radius: 50%;
    background-color: #16191c;
  }

  &_receiveBTN {
    width: 50%;
    height: 100%;
  }
}